h1 {
    text-align: center;
    font-family: 'Bitter', serif;
}

body {
    text-align: center;
    font-family: 'Archivo Narrow', sans-serif;
    padding: 10px;
    margin: 20px;
}

div {
    border-style: dashed;
    border-color: red;
}



/* 


font-family: 'Bitter', serif;
font-family: 'Archivo Narrow', sans-serif;
font-family: 'IBM Plex Sans', sans-serif; */